@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 3.5rem;
    letter-spacing: -2.5;
    line-height: 56px;
    font-family: "Space Mono Bold", monospace;
}
h2 {
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -2.14;
    font-family: "Space Mono Bold", monospace;
}
h3 {
    font-size: 2.5rem;
    line-height: 48px;
    letter-spacing: -1.79;
    font-family: "Space Mono Bold", monospace;
}
h4 {
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: -1.07;
    font-family: "Space Mono Bold", monospace;
}
p {
    font-size: 15px;
    line-height: 25px;
    font-family: "Lexend Deca Regular", sans-serif;
}
small, strong {
    font-family: "Space Mono Bold", monospace;
    text-align: center;
}
header {
    position: absolute;
    top: 0%;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}
nav {
    display: none;

}
.navbar-logo-and-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
#hamburger {
    background-color: #fff;
    cursor: pointer;
    border: 0px;
}
.cta-header-btn {
    background-color: #FCB72B;
    padding: 16px 32px;
    color: #fff;
    border: 0px;
    font-family: "Space Mono", monospace;
    border: 1px solid #FCB72B;
}
.cta-header-btn:hover {
    color: #FCB72B;
    background-color: #fff;
    transition: 0.4s;
}

/* hero page style */
.hero-page {
    color: #fff;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
    background-image: url("/images/landingpage-image.jpg");
}
.overlay-hero-page {
    background-color: rgba(73, 85, 103, 0.7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 400px;
    align-items: center;
    text-align: center;
}
.arrow-element {
    position: absolute;
    right: 70%;
    bottom: 0%;
    width: 1000px;
    height: 600px;
}

/* steps section */
.steps {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.steps-columns {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.steps-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    max-width: 300px;
}
.steps-col span {
    width: 1rem;
    height: 1rem;
    background-color: #FCB72B;
    padding: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.steps-section-svg {
    width: 2em;
    height: 2em;
}

/* TELEMETRY SECTION STYLE */
.telemetry-image {
    border-radius: 50%;
    margin-bottom: 56px;
    align-items: center;
}
.telemetry-section {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.telemetry-columns {
    display: flex;
    justify-content: center;
}
.telemetry-col {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
    gap: 40px;
}


/* sign up section */
.sign-up-section {
    background-image: url("./images/Mask.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
    color: #fff;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.sign-up-col {
    display: flex;
    gap: 13px;
}
.sign-up-option {
    display: flex;
    background-color: #E5ECF4;
    border-radius: 4px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    color: #495567;
    max-width: 180px;
}
.sign-up-info {
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #333A44;
    padding: 20px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;

}
.footer-col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.footer-links {
    display: flex;
    gap: 32px;
}
.footer-links a {
    color: #939CAA;
    font-family: "Space Mono Bold", monospace;
    text-decoration: none;
    font-weight: 600;
} 
.footer-col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
