@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 450px for columns  and probably 1200/1400px max width for sections*/
* {
    margin: 0px;
    padding: 0px;
}

html {}

body {}

h1 {
    font-size: 3.5rem;
    letter-spacing: -2.5;
    line-height: 56px;
    font-family: "Space Mono Bold", monospace;
    color: #495567;

}

h2 {
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -2.14;
    font-family: "Space Mono Bold", monospace;
    color: #495567;

}

h3 {
    font-size: 2.5rem;
    line-height: 48px;
    letter-spacing: -1.79;
    font-family: "Space Mono Bold", monospace;
    color: #495567;
}

h4 {
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: -1.07;
    color: #495567;
    font-family: "Space Mono Bold", monospace;
}

p {
    font-size: 15px;
    line-height: 25px;
    color: #495567;
    font-family: "Lexend Deca", sans-serif;
}

small,
strong {
    font-family: "Space Mono Bold", monospace;
    color: #495567;
    text-align: center;
}

header {
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    padding: 20px 0px;
}

.header-wrapper {
    display: flex;
    align-items: first baseline;
    max-width: 1200px;
    padding: 0px 20px;
}

a {
    text-decoration: none;
}

.navbar {
    max-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: max-height 0.5s ease-in-out;
}
.navbar a {
    color: #939CAA;
    font-family: "Space Mono Bold", monospace;
}
.navbar a:hover {
    color: #FCB72B;
    transition: color 0.2s ease-in-out;
}
.navbar.is-open {
    max-height: 150px;
}
.navbar-logo-and-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
    max-height: 150px;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
}

#hamburger {
    background-color: #fff;
    cursor: pointer;
    border: 0px;
}
#headerCTA {
    display: none;
}
.cta-btn {
    background-color: #FCB72B;
    padding: 16px 32px;
    color: #fff;
    border: 0px;
    font-family: "Space Mono", monospace;
    border: 1px solid #FCB72B;
}

.cta-btn:hover {
    color: #FCB72B;
    background-color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

.cta-btn.hp:hover {
    background-color: transparent;
}

/* hero page style */
.hero-page {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("/images/landingpage-image.jpg");
}

.overlay-hero-page {
    background-color: rgba(73, 85, 103, 0.7);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-page-wrapper * {
    color: #fff;
}

.hero-page-wrapper {
    max-width: 310px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-page-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.arrow-element {
    position: absolute;
    right: 70%;
    bottom: 0%;
    width: 1000px;
    height: 600px;
}

/* steps section */
.steps {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.steps-columns {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.steps-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 310px;
    gap: 48px;
}

.steps-col-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 27px;
}

.steps-col span {
    width: 1rem;
    height: 1rem;
    background-color: #FCB72B;
    padding: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps-section-svg {
    width: 2em;
    height: 2em;
}

/* TELEMETRY SECTION STYLE */
.row-image {
    border-radius: 50%;
    margin-bottom: 56px;
    align-items: center;
    max-width: 310px;
    height: auto;
}
.row-section {
    margin: 120px 0px;
    display: flex;
    justify-content: center;
}

.row-columns-image-to-right {
    display: flex;
    justify-content: center;
    gap: 55px;
    flex-direction: column-reverse;
    align-items: center;
}

.row-columns-image-to-left {
    display: flex;
    justify-content: center;
    gap: 55px;
    align-items: center;
    flex-direction: column;
    margin: 0px 15px;
}

.row-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    max-width: 310px;
}


/* sign up section */
.sign-up-section {
    background-image: url("./images/Mask.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
    color: #fff;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.sign-up-section h2 {
    color: #fff;
    text-align: center;
}
.sign-up-col {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.sign-up-option {
    display: flex;
    background-color: #E5ECF4;
    border-radius: 4px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    color: #495567;
    max-width: 180px;
    cursor: pointer;
}
.sign-up-info {
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #333A44;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 85px;
    flex-grow: 1;
}
.footer-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.footer-links a {
    color: #939CAA;
    font-family: "Space Mono Bold", monospace;
    text-decoration: none;
    font-weight: 600;
}
.footer-links a:hover {
    color: #FCB72B;
}
.footer-col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.footer-col2 svg {
    color: #FCB72B;
}
.footer-col2 *:hover {
    cursor: pointer;
    color: #fff;
}
/* ABOUT PAGE STYLE */
.about-cover {
    background: url("./images/bg-about.png") no-repeat;
    color: #fff;
    height: 200px;
    background-size: cover;
    background-position: center center;
}
.overlay-cover-page {
    background-color: rgba(73, 85, 103, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.overlay-cover-page h2 {
    color: #fff;
}
/* our values style */
.our-values {
    margin-top: 120px;
}

.our-values-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.our-values-columns {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.our-values-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    max-width: 310px;
}

.our-values-col span {
    width: 1rem;
    height: 1rem;
    background-color: #FCB72B;
    padding: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-values-section-svg {
    width: 2em;
    height: 2em;
}


/* faq section style */
.faq-section {
    margin: 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    max-width: 310px;
}

.faq-section-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.faq-section-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq-questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion-faq {
    display: flex;
    flex-direction: column;
    background-color: #F2F5F9;
    padding: 25px 40px;
    max-width: 310px;
}

.accordion-faq:hover {
    background-color: #FFF4DF;
    cursor: pointer;
}

.accordion-faq-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.faq-down-slide {
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    max-width: 100%;
    overflow: hidden;
}

.faq-down-slide.is-open {
    max-height: 150px;
}

.faq-arrow {
    transform: rotate(180deg);
    cursor: pointer;
}

.question-category {
    min-width: 200px;
    display: flex;
    justify-content: center;
}

.our-values-img {
    position: relative;
    border-radius: 50%;
}

.our-values-img-nr {
    position: absolute;
    bottom: -10%;
    left: 35%;
    font-family: "Space Mono Bold", monospace;
    font-size: 24;
    color: #495567;
}

/* CAREERS PAGE STYLE */
.careers-section {
    display: flex;
    justify-content: center;
    margin: 120px 0px;
}
.careers-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.career {
    background-color: #F2F5F9;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 10px 5px;
    max-width: 310px;
}

/* LOCATIONS PAGE STYLE */
.location-cover {
        background: url("./images/locations-cover.svg") no-repeat;
        color: #fff;
        height: 200px;
        background-size: cover;
        background-position: center center;
}
.locations-section {
    display: flex;
    justify-content: center;
    margin: 72px 0px;
}

.locations-wrapper {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.locations-img {
    max-width: 100%;
    height: auto;
}

.locations-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
}
.cta-btn {
    min-width: 180px;
}
@media screen and (min-width: 768px) {
    #headerCTA {
        display: block;
    }
    .hero-page-wrapper {
        max-width: 570px;
    }
    .steps-col {
        flex-direction: row;
        align-items: flex-start;
        max-width: 570px;
        gap: 80px;
    }
    .steps-col-content {
        align-items: flex-start;
        text-align: start;
        max-width: 400px;
        flex-grow: 1;
    }
    .row-col {
        max-width: 570px;
    }
    .row-columns-image-to-left, .row-columns-image-to-right {
        margin: 0px;
        max-width: 570px;
    }

    .our-values-col {
        max-width: 450px;
    }
    .faq-section-wrapper {
        max-width: 570px;
    }

    /* location page media style */
    .locations-wrapper {
        max-width: 700px;
        gap: 64px;
    }
    /* careers page media style */
    .careers-wrapper {
        max-width: 770px;
    }
    .career {
        min-width: 700px;
        justify-content: space-between;
        text-align: start;
        padding: 20px;
    }
    .sign-up-col {
        flex-direction: row;
    }
    .footer-wrapper {
        flex-direction: row;
    }

    .footer-col1 {
        flex-direction: row;
        max-width: 415px;
        gap: 60px;
    }

    .footer-col2 {
        flex-direction: row;
    }

    .footer-links {
        flex-direction: row;
    }
}
@media screen and (min-width: 1024px) {
    #hamburger {
        display: none;
    }
    .navbar {
        flex-direction: row;
    }
    .navbar-logo-and-links {
        gap: 60px;
        flex-direction: row;
        justify-content: flex-start;
    }
    .hero-page-wrapper {
        min-width: 1000px;
        justify-content: flex-start;
    }
    header {
        display: flex;
        justify-content: center;
    }
    .header-wrapper {
        align-items: center;
        padding: 0px;
        flex-grow: 1;
        max-width: 1000px;
    }
    .hero-page-col {
        max-width: 500px;
        align-items: flex-start;
        text-align: start;
    }
    .steps-col {
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
        gap: 40px;
    }
    .steps-columns {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1000px;
        gap: 30px;
    }
    .row-columns-image-to-right,
    .row-columns-image-to-left {
        flex-direction: row;
        justify-content: space-between;
        gap: 220px;
        max-width: 1000px;
        flex-grow: 1;
    }

    .row-col {
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        max-width: 450px;
    }
    .row-image {
        margin: 0px;
    }

    /* about page */
    .our-values-columns {
        flex-direction: row;
        max-width: 1000px;

    }
    .our-values-wrapper {
        justify-content: center;
        align-items: center;
    }
    .faq-section-wrapper {
        max-width: 800px;
    }
    .faq-section-column {
        flex-direction: row;
        gap: 80px;
    }
    .accordion-faq {
        min-width: 650px;
    }

    /* location page media style 1024px*/
    .locations-wrapper {
        max-width: 1000px;
    }
    .locations-cta {
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
    }
    .careers-wrapper {
        max-width: 1000px;
    }
    .career {
        min-width: 1000px;
    }
    .footer-wrapper {
        max-width: 1000px;
    }
}